body {
    font-family: 'Times New Roman', serif;
}

:root {
    --marromclaro-petshop: #daac71d7;
    --verdeclaro-petshop: #8bec94fa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-cor {
    background-color: var(--marromclaro-petshop);
    padding: 20px;
}

.background-color {
    background-color: var(--verdeclaro-petshop);
    padding: 20px;
    min-height: 400px;
}

h1, h2 {
    color: #215e35;
}


.campo {
    margin-bottom: 15px;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 300px;
}


button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #215e35;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #1a4a2a;
}

.link-pequeno {
    font-size: 0.9em;
    color: #215e35;
    text-decoration: underline;
}

a {
    color: inherit;
}
